<%= form_for @challenge do |f| %>
	<div class="title">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="description">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class="description">
		<%= f.label :language %>
		<%= f.text_field :language %>
	</div>

<% end %>